
// Buttons

.button, button {
  margin-bottom: 0;

  &.primary {
    background: #68d44f;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 29px;
    letter-spacing: 1px;
    margin: 65px;
    padding: 6px 40px;
    text-shadow: 1px 1px 1px green;

    &:hover,
    &:focus {
      opacity: 0.95;
    }
  }

  &.secondary {

    &:hover,
    &:focus {

    }
  }

  &.small {

  }

  &.medium {

  }

  &.large {

  }
}
