
// Toggle

.toggle-music {
  color: #fff;
  font-size: 17px;
  position: absolute;
  right: -200px;
  top: 10px;

  &.on {

    span:first-of-type {
      display: inline;
    }

    span:last-of-type {
      display: none;
    }
  }

  span:first-of-type {
    display: none;
  }

  span:last-of-type {
    display: inline;
  }
}
