
// Overlay

.overlay {
  background: #202020;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.overlay > .content {
  margin: auto;
}

.hidden {
  display: none;
}

// Collision Overlay

.collision {
  background: red;
  opacity: 0.2;
}
