
// Start Screen
.start-screen > .content {
  max-width: 600px;
  padding: 15% 10%;
}

.start-screen .grass {
  background: url(../images/grass-block.png);
  height: 172px;
  width: 100%;
  background-repeat: repeat-x;
  position: absolute;
  bottom: 0;
  left: 0;
}

// How To Screen

.how-to > .content {
  max-width: 600px;
  padding: 5% 10%;
}

.how-to .heading {
  font-size: 60px;
}

.how-to p {
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: ArcadeClassic;
}

// Game Over Screen

.game-over > .content {
  max-width: 800px;
  margin-bottom: 0;
  padding: 12% 10%;
}

.game-over .heading {
  font-size: 100px;
  margin-bottom: 0;
}

.game-over .final-score {
  color: #fff;
  font-family: ArcadeClassic;
  font-size: 20px;
}

.game-over .final-score span {
  margin-left: 5px;
  font-size: 24px;
}

.game-over img {
  position: absolute;
  top: 140px;
  right: 0;
  left: 0;
  margin: auto;
}

