
// Footer

footer {
  padding: 0;
  width: 100%;
  margin: auto;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  z-index: 99999;
  top: 695px;
}

footer .how-to-link {
  color: #fff;
  font-family: ArcadeClassic;
  font-size: 20px;
  word-spacing: 5px;
}
