
// Footer

footer {
  bottom: 50px;
  left: 0;
  margin: auto;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 2;

  .how-to-link {
    color: #fff;
    font-size: 20px;
    word-spacing: 5px;
  }
}
